<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="openAccessConfiguration"
             type="Telerik.OpenAccess.Config.OpenAccessConfigSectionHandler, Telerik.OpenAccess"
             requirePermission="false" />
  </configSections>

  <openAccessConfiguration configSource="Configuration\DataAccess.config"/>
  <appSettings file="Configuration\AppSettings.config"/>
  <connectionStrings configSource="Configuration\ConnectionStrings.config"/>

</configuration>