<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentMigrator" version="1.6.2" targetFramework="net45" />
  <package id="MayLily.DataAccess.ContextExtensions" version="0.0.1" targetFramework="net45" />
  <package id="Telerik.DataAccess.Core" version="2014.2.918.1" targetFramework="net45" />
  <package id="Telerik.DataAccess.Fluent" version="2014.2.918.1" targetFramework="net45" />
</packages>