<?xml version="1.0" encoding="utf-8" ?>
<openAccessConfiguration xmlns="http://www.telerik.com/OpenAcessConfiguration">
  <backendConfiguration name="MssqlConfiguration" backend="mssql" connectionTimeout="134" providerName="System.Data.SqlClient">
    <runtime allowReadAfterDelete="true" checkObjectConsistencyOnCommit="true" classBehavior="insertOnly" />
    <secondLevelCache cacheQueryResults="true" numberOfObjectsPerQueryResults="123" enabled="true" />
    <logging downloaderEnabled="true" eventStoreCapacity="234" metricStoreCapacity ="345" />
    <connectionPool activeConnectionTimeout="456" maxActive="567" blockWhenFull="false" />
    <highLowKeyGenerator grabSize="678" start="789" />
  </backendConfiguration>
</openAccessConfiguration>